<div class="container">

<% if user_signed_in? %>
  <h1 class="text-center">Crear Tweet</h1>

  <%= render 'form', tweet: @tweet %>
<% end %>

<h1 class="text-center">Tweets</h1>

<% @tweets.each do |tweet| %>
  <div class="card mb-3" style="max-width: 1250px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        
        
        <%= image_tag url_for(tweet.user.avatar ), class:"img-fluid" %>
      
      
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"> <%= tweet.content_with_hashtag %> </p>

          
          <% if tweet.retweet_id.present? %>
            <div class="card">
              <% retweet = Tweet.find(tweet.retweet_id) %>
              <% user = User.find(retweet.user_id) %>
              <h6 class="card-header"> <%= user.username %> | Retweet </h6>
              <div class="card-body">
                <%= retweet.content %>
              </div>
            </div>
          <% end %>
          
          <br>
          <br>
          <% if tweet.likes.where(user_id: current_user).present? %>
            <i class="fas fa-heart"></i> 
          <% else %>
            <i class="far fa-heart"></i>
          <% end %>
          <strong> 
            <%=tweet.likes.count%> 
          </strong>

          <i class="fas fa-retweet"></i>
          <strong>
            <%= tweet.retweets.count %>
          </strong>
          

          <%= link_to 'Mostrar Tweet', tweet , class:"btn btn-primary"%>
          <%= link_to 'Edit', edit_tweet_path(tweet), class: "btn btn-primary" %>
          <%= link_to 'Destroy', tweet, class:"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <%= link_to time_ago_in_words(tweet.updated_at), tweet %> 
      |
      <%= tweet.id %>
    </div>
  </div>
<br>
<% end %>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center pagination-lg">
    <li class="page-item ">
     
    </li>

    <li class="page-item ">
      
    </li>
  </ul>
</nav>

</div>

