<div class="container">
    <h1 class="text-center">Resultados de la Busqueda</h1>
    <% @tweets.each do |tweet| %>
  <div class="card">
    <div class="row no-gutters">
      <div class="col-4">
        <%= image_tag url_for(tweet.user.avatar ), height:160, width:300 %>
      </div>
      <div class="col-6">
        <div class="card-body">
          <p class="card-text"> <%= tweet.content %> </p>
          <br>
          <br>
          <% if tweet.likes.where(user_id: current_user).present? %>
            <i class="fas fa-heart"></i> 
          <% else %>
            <i class="far fa-heart"></i>
          <% end %>
          <strong class="pr-5"> 
            <%=tweet.likes.count%> 
          </strong>
          <%= link_to 'Mostrar Tweet', tweet , class:"btn btn-primary"%>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <%= link_to time_ago_in_words(tweet.updated_at), tweet %> 
      |
      <%= tweet.id %>
    </div>
  </div>
<br>
<% end %>
</div>